<nav class="btn btn-transparent navbar sticky-top navbar-light bg-light">
  <%= link_to 'Directory', tasks_path %> |
    <% Category.all.each do |category| %>
      <%= link_to category.name, tasks_path(category: category.name), class:"btn-cat" %> |
    <% end %>
</nav>
