<footer>
  <div class="row">
    <div class="col-md-6">
      <ul class="footer-nav">
        <li><a href="#"></a>About us</li>
        <li><a href="#"></a>Blog</li>
        <li><a href="#"></a>Press</li>
        <li><a href="#"></a>iOS App</li>
        <li><a href="#"></a>Andriod App</li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="social-icons">
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-github"></i></a></li>
      </ul>
    </div>
      <div class="row justify-content-center">
        <p>copyright &copy; 2021 by Studio 506. All rights reserved. </p>
      </div>
  </div>
</footer>
