<div class="row main-landing" >
  <div class="col-md-6">
    <div class="center-card">
      <h1>Seek and Find </h1>
      <p>Looking for a service? Easy, just search for it below 😎</p>
        <%= form_tag tasks_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by service or location"
          %>
          <%= submit_tag "Search", class: "mb-2 mt-2 btn-search "%>
        <% end %>
    </div>
    <div class="home-new-service">
      <p> Else add a <%= link_to 'new service', new_task_path, class:"ui positve button" %></p>
    </div>
  </div>
</div>

