.btn-small {
  background: #e67e22;
  color: white;
  font-style: 26px;
  border-radius: 5px;
  padding: 20px 30px;
  width: 100%;
  margin: auto;
  text-align: center;
  position: sticky;
  z-index: 2;
  top: 100px;
   &:hover {
        color:white;
        background: #167FFB;
        opacity: 0.2;
        text-decoration: none;
    }
}


.btn-center {
 margin: auto;


}

.btn-search {

  border: 1px solid white;
  color: white;
  background: $primary-color;
  font-style: 26px;
  border-radius: 5px;
  padding: 8px 8px;
  width: 100%;
  text-align: center;
  position: sticky;
  top: 100px;
   &:hover {
        color:white;
        background: #167FFB;
        opacity: 0.2;
        text-decoration: none;
    }
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300px;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  color: white;
}

.btn-full {
  background-color: $primary-color;
  border: 1px solid #e67e22;
   &:hover {
        color:#924d10;
        text-decoration: none;
        background: #fff;
    }
}

.btn-ghost {
  border: 1px solid #e67e22;
  color: #e67e22;
    &:hover {
      border: 1px solid transparent;
      color: #fff;
      background: #e67e22;
    }
}
