.btn-small {
  background: #167FFB;
  color: white;
  font-style: 26px;
  border-radius: 5px;
  padding: 20px 30px;
  width: 100%;
  text-align: center;
  position: sticky;
  top: 100px;
   &:hover {
        color:white;
        background: #167FFB;
        opacity: 0.3;
        text-decoration: none;
    }
}

.btn-center {
 margin: auto;

}

.btn-search {
  background: #167FFB;
  color: white;
  font-style: 26px;
  border-radius: 5px;
  padding: 4px 4px;
  width: 100%;
  text-align: center;
   &:hover {
        color:white;
        background: #167FFB;
        opacity: 0.3;
        text-decoration: none;
    }
}
