.main-landing {
  display: flex;
  height: 60vh;
  background: #32CCBC;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
}

.center-card {
  margin: 16px auto;
  padding: 8px;
  border-radius: 8px;
  text-align: left;
}

.center-card h1 {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  color: #008080;
}

.center-card p {
  font-family: 'Fraunces', serif;
  font-weight: bold;
  font-size: xx-large;
  color: white;
}


.home-new-service {
  font-family: 'Fraunces', serif;
  color: white;
}

.btn-search {
  background: #008080;
  border-radius: 4px;
  padding: 8px;
  color: white;
  &:hover {
        color:red;
        text-decoration: none;
    }
}

.hero-text-card {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-body span {
  font-size: 100;
}

.tasks-card {
  border: 1px solid #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  color: #1C8180;
  padding: 10px;
}

.tasks-card li a {
  color: #1C8180;
}

.city-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.city-card {

  // display: inline-block;
}

.city-card img {
  width: 200px;
  height: auto;
  border-radius: 8px;

}

.services-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .services-card {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .services-card {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .services-card {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .services-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .services-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
