.main-landing {
  display: flex;
  height: 60vh;
  background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
  justify-content: center;
  text-align: center;
  border-radius: 8px;
}

.center-card {
  margin: 16px auto;
  padding: 8px;
  border-radius: 8px;
  text-align: left;
}

.center-card h1 {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  color: white;
}

.center-card p {
  font-family: 'Fraunces', serif;
  font-weight: bold;
  color: white;
}

.home-new-service {
  font-family: 'Fraunces', serif;
  color: white;
}

.btn-search {
  background: #8C1BAB;
  border-radius: 4px;
  padding: 8px;
  color: white;
  &:hover {
        color:red;
        text-decoration: none;
    }
}
