main {
  padding: 30px;
  font-family: "Cormorant", sans-serif;
  min-height: 100vh;
}

.user {
  padding: 8px;
  text-align: center;
  background: transparent;
  border-radius: 4px;
  border: 1px solid #f7f7f7;
  transition: all 0.1;
   &:hover {
    box-shadow: 0 0 10px 0 rgba(252,181,162,.8);
   }
}

.user-avatar img {
  width: 60px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.user-avatar {
  padding: 3px;
  width: 56px;
  margin: 0 auto;
  text-align: center;
}

.user-contact {
  text-align: center;
}

.details {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #f7f7f7;
  text-align: center;
  overflow: auto;
  border-radius: 4px;
  transition: all 0.1;
   &:hover {
    box-shadow: 0 0 10px 0 rgba(252,181,162,.8);
   }
}

.details h1 {
  color: black;
}

.serv-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin: 0 auto;
}

.serv-image img {
  width: 90%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 8px;
}

.user-mail {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 8px;
}
