// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "semantic-ui";
@import "semantic-ui/collections/menu";

// Your CSS partials
@import "components/index";
@import "pages/index";




.ontop {
  position: sticky;
  top: 0;
  border-radius: 8px;
}

.ontop img {
  width: 100%;
  height: auto;
}

.side-bar li {
  display: contents;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  margin: 8px 4px;
  padding: 8px;
  border: 1px solid #ebebeb;
  list-style: none;
  text-decoration: none;
  color: $primary-color;
  background: white;
  transition: all 0.2s;
    &:hover {
      background: #fee9e4;
      box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
      color: white;
    }
}

@media only screen and (max-width: 1500px) {


  .hero-text-card {
    text-align: center;
  }

  .category-dropdown {
    visibility: hidden;
  }

  .service_description {
    visibility: hidden;
  }

  .description-small p {
    visibility: hidden;
  }
}

@media only screen and (max-width: 1200px) {


  .hero-text-card {
    text-align: center;
  }

  .service_description {
    visibility: hidden;
  }

  .description-small p {
    visibility: hidden;
  }


}

@media only screen and (max-width: 950px) {
  .city-card img {
    width: 100%;
  }

  .city-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    text-align: center;
  }

  .footer-copyright span {
  visibility: hidden;
  }

  .category-sort {
    visibility: collapse;
  }

  .category-dropdown {
    text-align: center;
    visibility: visible;
  }

  .description p {
    visibility: hidden;
  }

  .description-small p {
    visibility: visible;
  }

  .service_description {
    visibility: visible;
  }
}

@media only screen and (max-width: 480px) {

  .city-card img {
    width: 100%;
  }

  .city-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }

  .footer-copyright span {
  visibility: hidden;
  }

  .service_description {
    visibility: visible;
  }

  .description p {
    visibility: hidden;
  }

  .description-small p {
    visibility: visible;
  }

}


